<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Details</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="mobile-container2">
    <%- include('../layouts/header'); %>

    <div id="results">
        <section>
            <h3><%= results.bookshelf%> </h3>
            <img src= <%= results.image %> >
            <h3><%= results.title %></h3>
            <h4><%= results.authors %></h4>
            <p><%= results.description %></p>

            <button id="toUpdateButton">Update</button>
            
            <form id="updateForm" action="/books/<%= results.id %> ?_method=put" method="post">
                <label for="fname">Book image</label>
                <input type="text" name="image" value= "<%= results.image%>"><br>

                <label for="fname">Book Title</label>
                <input type="text" name="title" value= "<%= results.title %>"><br>

                <label for="fname">Authors</label>
                <input type="text" name="author" value= "<%= results.authors %>"><br>

                <label for="fname">Book descrption</label>
                <input type="text" name="description" value= "<%= results.description %>"><br>

                <label for="fname">Book shelf</label>
                <input type="text" name="bookshelf" value= "<%= results.bookshelf%> "><br>

                <button id="addBookButton">Update Book</button>
            </form>

            <button id="toDeleteButton">Delete Book</button>
            <form id="deleteForm" action="/books/<%= results.id %> ?_method=delete" method="post">
                <input type="submit" name="delete" value="delete" placeholder="delete"/>
            </form>
            <!-- <form id="updateForm" action="/books/<%= results.id %> ?_method=put" method="post">
                <label for="fname">Are you sure?</label>
                <button id="DeleteBookButton">Update Book</button>
            </form> -->


        </section>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="/app.js"></script>
</body>
</html>