<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="mobile-container">
        <%- include('../layouts/header'); %>
        <h3 id="title">Search Results</h1>
            <div id="results">
                <% booksData.forEach ((item,ind) => { %>
                <section>
                    <img src="<%= item.image %>" alt="">
                    <h3><%= item.title %></h3>
                    <h4><%= item.authors%></h4>
                    <p><%= item.desc %></p>
                    <button id="<%= ind%>">Select this book</button>

                    <form id="selectForm" class="<%= ind%>" action="/books" method="post">
                        <label for="fname">Book image</label>
                        <input type="text" id="fname" name="imageurl" value= "<%= item.image %>"><br>

                        <label for="fname">Book Title</label>
                        <input type="text" id="fname" name="title" value= "<%= item.title %>"><br>

                        <label for="fname">Authors</label>
                        <input type="text" id="fname" name="author" value= "<%= item.authors %>"><br>

                        <label for="fname">Book descrption</label>
                        <input type="text" id="fname" name="desc" value= "<%= item.desc %>"><br>

                        <label for="fname">Book shelf</label>
                        <input type="text" id="fname" name="shelf" value= " "><br>

                        <button id="addBookButton">Add to selcted books</button>
                    </form>

                </section>
                <% }); %>
            </div>
    </div>

    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="app.js"></script>
</body>

</html>